.overlay-100 {
  margin-top: 45%;
  margin-left: calc(50% - 50px);
}

.overlay-50 {
  margin-top: 50%;
  margin-left: calc(50% - 25px);
}

.overlay-24 {
  margin-top: 50%;
  margin-left: calc(50% - 12px);
}
